{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block title %}
Sign In / {{site.name}}
{% endblock %}

{% block content %}
<div class="container-main-content p-4">

  <div class="row">
    <div class="col-lg-6">

      <h1>{% trans "Sign In" %}</h1>

      <p class="lead">{% blocktrans with site.name as site_name %}
        Not yet registered? <a href="{{ signup_url }}">Sign up</a> for a {{ site_name }} account.{% endblocktrans %}</p>

      {% get_providers as socialaccount_providers %}
      
      {% if socialaccount_providers %}
      
      <div class="socialaccount_ballot">
      
          <!-- list of oauth login providers -->
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}

      <hr>      
      </div>
      
      {% include "socialaccount/snippets/login_extra.html" %}
      
      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}
      
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn btn-success" type="submit">{% trans "Sign In" %}</button>
      </form>

    </div>
    <div class="col-xl-6 d-none d-xl-inline">
      <img class="img-fluid" src="{% static 'images/illustration_modern_art.png' %}" alt="">
      
    </div>
  </div>
</div>

{% endblock %}
