@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
  }

a {
    transition: all 0.2s ease-in-out;
}


body {
    background-color: rgb(244, 194, 54);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo 2', sans-serif;
}


.navbar {
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: all 1s ease-in-out;
    padding: 0;
}

.nav-item, .nav-link, .dropdown-item {
    color: rgb(0, 0, 0);
    font-family: 'Baloo 2', sans-serif;
    transition: all .2s ease-in;
}

.navbar-toggler {
    border: none;
}

.nav-item .dropdown-toggle.show {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

.nav-item {
    padding: 0.2rem 0;
}

.nav-item:hover {
    background-color: rgb(0, 0, 0);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    padding: 0;
}

.footer-container {
    border-top: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(255, 255, 255);
}

.footer-link svg {
    transition: all 0.2s ease-in-out;
}

.footer-link svg:hover {
    color: rgb(0, 0, 0);
}

.card-img-top {
    border: 2px solid rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.container-main-content, .accounts-container {
    background-color: rgb(255, 255, 255);
}

.resource-container {
    background-color: rgb(255, 255, 255);
}

.btn-upvote, .btn-upvote:active, .btn-bookmark, .btn-bookmark:active {
    margin-right: 1rem;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 0px 0px rgb(0,0,0);
    border-radius: 0.375rem
}

.btn-upvote.active {
    background-color: rgb(37, 173, 159);
}

.btn-bookmark.active {
    background-color: rgb(145, 168, 237);
}

.resource-tag {
    width: fit-content;
    padding: 0.5rem 0.75rem;
    border: 1px solid #000;
    border-radius: 99999px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 140ms cubic-bezier(.25, .46, .45, .94);
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    line-height: 1;
}

.resource-tag:hover {
    color:rgb(0, 0, 0);
    box-shadow: 3px 3px 0 0 #000;
    transform: translate(-0.25rem, -0.25rem);
}

.top-row {
    margin: 0 0.2rem 1rem;
    gap: 2rem;
}

.top-row > .col {
    border-radius: 0.375rem;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 0px 0px rgba(0,0,0,0.75);
}

.top-col-h1 {
    background-color: rgb(34, 167, 90);
}

.top-col-sort {
    background-color: rgb(144, 168, 237);
}

.resource-detail-thumbnail {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.375rem;
}

.card, .resource-container, .container-main-content, .message-toast, .accounts-container {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 0px 0px rgba(0,0,0,0.75);
    border-radius: 0.375rem;
}

.pagination li a {
    box-shadow: -6px 5px 0px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in-out;
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.5rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.375rem;
    padding: 0.5rem 3rem;
}

.page-link-prev {
    background-color: rgb(145, 168, 237);
}

.page-link-next {
    background-color: rgb(219, 124, 77);
}

@media screen and (min-width: 992px) {
    .nav-item {
    border-left: 2px solid rgb(0, 0, 0);
}

.nav-item:last-of-type {
    border-right: 2px solid rgb(0, 0, 0);
}   
}