@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

main {
    background-color: rgb(244, 194, 54);
}

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(0, 0, 0);
}

.card-img-top {
    border: 2px solid rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.resource-container {
    background-color: rgb(255, 255, 255);
}

.card {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 0px 0px rgba(0,0,0,0.75);
}

.pagination li a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem 3rem;
}