@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
  }

body, main {
    background-color: rgb(244, 194, 54);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo 2', sans-serif;
}

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

.footer-link svg {
    transition: all 0.2s ease-in-out;
}

.footer-link svg:hover {
    color: rgb(0, 0, 0);
}

.card-img-top {
    border: 2px solid rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.resource-container, .footer-container, .container-main-content {
    background-color: rgb(255, 255, 255);
}

.list-title {
    background-color: rgb(34, 167, 90);
    border-radius: 0.375rem;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 0px 0px rgba(0,0,0,0.75);
}

.resource-detail-thumbnail {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.375rem;
}

.card, .resource-container, .container-main-content, .message-toast {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 0px 0px rgba(0,0,0,0.75);
    border-radius: 0.375rem;
}

.pagination li a {
    box-shadow: -6px 5px 0px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in-out;
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.5rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.375rem;
    padding: 0.5rem 3rem;
}

.page-link-prev {
    background-color: rgb(157, 154, 198);
}

.page-link-next {
    background-color: rgb(219, 124, 77);
}

.resource-tag {
    background-color: rgb(157, 154, 198);
}