{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">
                {% for resource in resource_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'resource_detail' resource.slug %}">
                                <div class="image-container">
                                    {% if "placeholder" in resource.thumbnail.url %}
                                    <img class="card-img-top" src="https://i.ibb.co/10Y6XsK/open-graph-template.png"
                                        alt="">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ resource.thumbnail.url }}" alt="">
                                    {% endif %}
                                </div>
                                <h2 class="card-title">{{ resource.title }}</h2>
                            </a>
                            <p class="card-text">{{ resource.content }}</p>
                            <div class="card-body">
                                <p class="card-text text-muted h6">
                                    {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'upvote_resource' resource.slug %}"
                                        method="POST">
                                        {% csrf_token %}
                                        {% if upvoted %}
                                        <button type="submit" name="button-upvote" value="{{resource.slug}}"
                                            class="btn-like">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                              </svg>
                                        </button>
                                        {% else %}
                                        <button type="submit" name="button-upvote" value="{{resource.slug}}"
                                            class="btn-like">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                                            </svg>
                                        </button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                                </svg>
                                    {% endif %}
                                    {{ resource.upvotes.count }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}