{% extends "base.html" %}
{% load crispy_forms_tags %} 

{% block title %}
Privacy Policy / Designland
{% endblock %}

{% block h1 %}
Privacy Policy
{% endblock %}

{% block content %}

<div class="container-main-content p-4">
  <h4>What data do we collect?</h4>
  <p>
    We collect and process data when you register for an account. Information
    you provide may include: email address and social media usernames. If you
    choose to signup using Google or GitHub we will not collect any extra
    personal identification information.
  </p>
  <h4>How will we use your data?</h4>
  <p>
    This site was created as an educational project and we won't ever email you
    or share your data with anyone else.
  </p>
  <h4>How do we store your data?</h4>
  <p>
    Your data is stored on a
    <a href="https://heroku.com/" target="_blank">Heroku</a> server in the
    European Union.
  </p>
  <h4>Your data protection rights</h4>
  <p>
    You can permanently delete your account and all associated information at
    any time by visiting your profile, clicking Edit Profile, then Delete
    Account.
  </p>
  <h4>Cookies</h4>
  <p>
    Cookies are text files placed on your computer to collect standard Internet
    log information and visitor behavior information. When you visit our
    websites, we may collect information from you automatically through cookies
    or similar technology
  </p>
  <p>
    For further information, visit
    <a href="https://allaboutcookies.org" target="_blank">allaboutcookies.org</a
    >.
  </p>
  <h4>How do we use cookies?</h4>
  <p>
    If you register, we use cookies in to improve your experience by keeping you
    signed in unless you manually sign out.
  </p>
  <p>
    We don't collect information about your browser, device or IP address, and
    we don't use cookies for advertising.
  </p>
  <p>
    The above website tells you how to remove cookies from your browser or set
    your browser not to accept cookies. Site functionality may not function as
    expected without cookies.
  </p>
</div>

{% endblock content %}
