{% extends "base.html" %}

{% block title %}
User List / Designland
{% endblock %}


{% block h1 %}
{{ h1 }}
{% endblock %}

{% block content %}
<div class="container-main-content p-4">

<table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Username</th>
        <th scope="col">Joined</th>
        <th scope="col">Contributions</th>
        <th scope="col">Upvotes Received</th>
      </tr>
    </thead>
    <tbody>
        {% for profile in page_obj %}
      <tr>
        <th scope="row">{{ profile.user.id }}</th>
        <td><a href="{% url 'user' profile.user.username %}">{{ profile.user.username }}</a></td>
        <td>{{ profile.user.date_joined|date:'j M \'y' }}</td>
        <td>
            {% if profile.number_resources_added %}
            <a href="{% url 'added_by_user' profile %}">{{ profile.number_resources_added }}</a>
            {% else %}
            {{ profile.number_resources_added }}
            {% endif %}
        </td>
        <td>{{ profile.total_upvotes_received }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  {% if is_paginated %}
  <nav aria-label="Page navigation">
      <ul class="mt-5 pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" 
              class="page-link-prev mx-3 text-dark text-uppercase" 
              aria-label="Previous">
              <span aria-hidden="true">&laquo; Prev</span>
          </a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" 
              class="page-link-next mx-3 text-dark text-uppercase" 
              aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
          </a></li>

          {% endif %}
      </ul>
  </nav>
  {% endif %}
</div>


{% endblock %}