{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Submit / Designland
{% endblock %}

{% block h1 %}
{{ h1 }}
{% endblock %}

{% block content %}

<div class="container-main-content p-4">
    <div class="form-group">
        <form method="POST" action="">
            {% csrf_token %}
            {% crispy form %}

            <hr>

            <!-- <input type="submit" value="Submit" class="btn btn-dark"></input> -->

        </form>
    </div>
</div>

{% endblock content %}