{% extends "base.html" %}

{% block title %}
Designland
{% endblock %}


{% block h1 %}
{{ h1 }}
{% endblock %}

{% block sort-dropdown %}
    <div class="col col-12 col-lg-3 top-col-sort d-flex flex-row justify-content-center align-items-center">
        <form action="" class="d-flex flex-row align-items-center">
            <label for="sort" class="form-label visually-hidden">Sort by:</label>
                    <select class="sort-select form-select form-select-sm flex-grow-1" name="sort" id="sort">
                        <option value="new">newest</option>
                        <option value="old">oldest</option>
                        <option value="popular">most upvotes</option>
                    </select>
                    <input class="btn btn-sm btn-dark btn-block" type="submit" value="Sort">
          </form>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col mt-3 left">
            <div class="row">
                {% for resource in page_obj %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'resource_detail' resource.slug %}">
                                <div class="image-container">
                                    {% if "placeholder" in resource.thumbnail.url %}
                                    <img class="card-img-top mb-2"
                                        src="https://i.ibb.co/10Y6XsK/open-graph-template.png" alt="">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ resource.thumbnail.url }}" alt="">
                                    {% endif %}
                                </div>
                                <h4 class="card-title text-dark pt-2">{{ resource.title }}</h4>
                            </a>
                            <p class="card-text">{{ resource.content }}</p>
                            <div class="card-body">
                                <div class="btns-container d-flex justify-content-end">
                                {% if user.is_authenticated %}

                                <form class="d-inline" action="{% url 'upvote_resource' resource.slug %}" method="POST">
                                    {% csrf_token %}
                                    
                                    {% if user in resource.upvotes.all %}
                                    <!-- If user has upvoted already display active button with number of upvotes -->
                                    <button type="submit" name="button-upvote" value="{{resource.slug}}"
                                        class="btn btn-sm btn-upvote active"
                                        aria-label="Remove your upvote from {{ resource }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                                        </svg>
                                        <span class="upvote_number">{{ resource.number_upvotes }}</span>
                                    </button>

                                    {% else %}
                                    <!-- Display an upvote button with the number of upvotes -->
                                    <button type="submit" 
                                    name="button-upvote" 
                                    value="{{resource.slug}}"
                                    class="btn btn-sm btn-upvote"
                                    aria-label="Upvote {{ resource }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                                        </svg>
                                        <span class="upvote_number">{{ resource.number_upvotes }}</span>
                                    </button>
                                    {% endif %}
                                </form>

                                {% else %}
                                <!-- For guests, just display the up arrow icon and number of upvotes -->
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                        class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                                    </svg>
                                    <span class="upvote_number">{{ resource.number_upvotes }}</span>
                                </span>

                                {% endif %}
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>

        </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="mt-5 pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" 
                class="page-link-prev mx-3 text-dark text-uppercase" 
                aria-label="Previous">
                <span aria-hidden="true">&laquo; Prev</span>
            </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" 
                class="page-link-next mx-3 text-dark text-uppercase" 
                aria-label="Next">
                <span aria-hidden="true">Next &raquo;</span>
            </a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<script>
    // Sets the sort drop down to match the url param
    const searchParams = new URLSearchParams(window.location.search);
    const sortOrder = searchParams.get("sort");
    const options = document.querySelector(".sort-select").children;
    
    for (let option of options) {
        if (option.value == sortOrder) {
            console.log(option.value);
            option.setAttribute('selected', true)
        }
    }
</script>

{%endblock%}