{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Submit / Designland
{% endblock %}

{% block h1 %}
{{ h1 }}
{% endblock %}

{% block content %}

<div class="container-main-content p-4">
    <div class="form-group">
        <form method="POST"  >
            {% csrf_token %}
            {% crispy form %}
            <span class="text-muted mb-5">Popular Tags: 
            {% for tag in tags %}
            <span class"form-tag">{{tag}} | </span>
            {% endfor %}
        </span>
                <hr>
                <input type="submit" value="Submit" class="btn btn-dark"></input>

        </form>
    </div>
</div>

{% endblock content %}