{% extends "base.html" %}

{% block h1 %}
Update your profile
{% endblock %}

{% block content %}
<div class="container-main-content p-4">
<form method="POST" action="">
    {% csrf_token %}

    {{ form.as_p }}

    <hr>
  
        <input type="submit" value="Submit" class="btn btn-dark"></input>

        <hr>
        {% if user.username == user_info.username %}
        <a href="{% url 'delete_user_profile' user_info.get_username %}" class="text-muted">Delete Account</a>
        {% endif %}

</form>
</div>

{% endblock content %}