{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block h1 %}
Update your profile
{% endblock %}

{% block content %}
<div class="container-main-content p-4">
<!-- <form method="POST" action=""> -->
    {% csrf_token %}

    {% crispy form %}

    <hr>
  
        <input type="submit" value="Update" class="btn btn-dark"></input>
        <hr>
        {% if user.username == user_info.username %}
        <a href="{% url 'delete_user_profile' user_info.get_username %}" class="btn btn-sm btn-outline-danger">
            Delete Account</a>
        {% endif %}

<!-- </form> -->
</div>

{% endblock content %}