{% extends 'base.html' %}

{% block title %}
User profile for {{user_info.get_username }}
{% endblock %}

{% block content %}
<div class="resource-container">

    <div class="container">
        <div class="row">
            <div class="col card mx-4 mb-4  mt-3 left top">
                <div class="card-body">
                    <p class="card-text ">
                        Member since: {{ user_info.date_joined }}
                        <br>
                        {% comment %} Upvotes received: {{ user_info.total_upvotes_received }} {% endcomment %}

                        <hr>

                        {% if user.is_authenticated %}
                        {% if user.username == user_info.username or user.is_superuser %}
                        <a href="{% url 'update_user_profile' user_info.get_username %}">Edit Profile</a>
                        {% endif %}
                        {% endif %}


                        <hr>

                            {% if profile_info.number_resources_added == 0 %}
                            No Resources added yet:
                            {% elif profile_info.number_resources_added > 1 %}
                            <a href="{% url 'added_by_user' user_info.get_username %}">
                            {{ profile_info.number_resources_added}} Resources added:
                            </a>
                            {% else %}
                            <a href="{% url 'added_by_user' user_info.get_username %}">
                            {{ profile_info.number_resources_added }} Resource added:
                            </a>
                            {% endif %}

                        <ul>
                            {% if user_info.resources_added.all %}
                            {% for resource in user_info.resources_added.all %}
                            <li>
                                <a href="{% url 'resource_detail' resource.slug %}">{{ resource.title }}</a>
                            </li>
                            {% endfor %}
                            {% else %}

                            {{ user_info.get_username }} hasn't submitted any resources yet.
                            {% endif %}



                        </ul>

                        <hr>
                        {% if profile_info.username_github %}
                        GitHub: <a href="https://www.github.com./{{ profile_info.username_github }}" target="_blank">{{ profile_info.username_github }}</a>
                        {% endif %}
                        <br>
                        {% if profile_info.username_twitter %}
                        Twitter: <a href="https://www.twitter.com./{{ profile_info.username_twitter }}" target="_blank">@{{ profile_info.username_twitter }}</a>


                        {% endif %}
                    </p>

                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}