{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block h1 %}
Update your profile
{% endblock %}

{% block content %}
<div class="container-main-content p-4">
<form method="POST"  >
    {% csrf_token %}

    {% crispy form %}

        <input type="submit" value="Update" class="btn btn-dark"></input>
        {% if user.username == user_info.username %}
        <hr>
        <a href="{% url 'delete_user_profile' user_info.get_username %}" class="btn btn-sm btn-outline-danger">
            Delete Account</a>
        {% endif %}

</form>
</div>

{% endblock content %}